
.title{
    text-align: center;
     font-size: 60px;
     color: red;
     padding: 20px 0;
}


.maindiv{

    background-color: #F7F7F7;
    height: fit-content;
}




.upper-div{
    padding: 0 50px 40px 50px;
    height: fit-content; 
    display: flex;
    justify-content: space-between;
    
}

.img{
    height: 28rem;
    width: 28rem;
    border-radius: 15px;
  

}

.event{
    
    margin-left: 20px;
    width: 50%;
    text-align: left;
}



.event-title{
    font-size: xx-large;
    font-weight: 700;
  padding-left: 15px;

}

.event-details{
    
    font-size: small;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   gap: 10px;
   margin: 5px 0;
}

.icon{
    width: fit-content;
    height: 15px;
    text-align: left;
}



.tags{
    font-size: small;
    display: flex;
     padding: 5px;
    gap: 12px;
}

.tag{
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: smaller;
}

.free{
    background: rgb(58, 209, 58);
}

.upcoming{
    background-color: rgb(129, 129, 251);
}

.workshop{
    background-color: navy;
}

.hr-line{
    width: 100%;
    padding: 0.3px;
    margin: 10px 0;
    background: black;
}

.mentor{
    display: flex;
  
    align-items: center;
}

.mentorimg{
    width: fit-content;
    height: 30px;
    text-align: left;
    border-radius: 100%;
}

.mentoricon{
    width: 20px;
}

.mentortxt{
 
   display: flex;
   align-items: center;
   font-weight: 600;
   font-size: larger;
   padding: 0 15px;
   gap: 10px;
}



.mentorname{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    font-size: small;
    gap: 20px;
}

.attendees{
   
    font-weight: 600;
    font-size: large;
    padding: 0px 20px;

    
}

.attendeesname{
  margin-top: 5px;
    font-size: small;
    padding: 5px 25px;
}

.wholesummary{
    padding: 0 10px;
    

}

.event-summary-title{
    margin-bottom: 15px;
    font-size: larger;
}

.event-summary-text{
    font-size: 12px;
}

.button{
   margin: 10px 0; 
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;

}

.button a{
    text-decoration: none;
    color: white;
    font-size: small;
    background-color: navy;
    font-weight: 900;
    letter-spacing: 1.3px;
    padding: 12px 20px;
    border: none;
    width: fit-content;
    border-radius: 10px;
    margin-top: 5px;
    
    
}

.button a:hover{
    background-color: rgb(22, 22, 173);
}

.middle-contents{
    margin: 40px 50px 0 50px;
    height: fit-content;

}

.middle-div{
    border-bottom: 5px navy solid;
    margin: 10px 0;
}

.heading{
    font-weight: bolder;
    font-size: large;
     color: #262967;
}


.description{
    font-size: small;
    padding: 10px 0;
    height: fit-content;
}

.reviews-title{
    background-color:navy;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F7F7F7;
    font-size: x-large;
    font-weight: 700;
  
}

.lower-div{
 background-color: #FFFFFF;
 height: fit-content;

}

.review-section{
    padding: 40px;
}

.review-box{
    height: 90px;
    background-color: #E7E7E7;
    margin: 40px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

@media  screen and (max-width:900px ) {


    .bg-div{
        background-color: #E7E7E7;
    }
    

    .upper-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
       
    }

    .img{
        width: 100vw;
        height: auto;
        border-radius: 0%;
    }

    .event-title{
       font-size: 30px;
       margin-bottom: 5px;
    }

    .event{
        width: 100%;
        margin-right: 15px;
        margin-top: -60px;
        padding: 10px;
        height: fit-content;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }

    .mentor{
        display: flex;
        flex-direction: column;
    }

    .button{
        display: flex;
        justify-content: center;
    }

}